<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
      xmlns:r="http://typo3.org/ns/Evoweb/Recaptcha/ViewHelpers"
      data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <r:form.recaptcha>
        <f:asset.script identifier="recaptcha_form" src="EXT:recaptcha/Resources/Public/JavaScript/Frontend/form.js"/>
        <f:if condition="{element.parentRenderable.parentRenderable.renderingOptions.useInvisibleRecaptcha}">
            <f:then>
                <f:if condition="{showCaptcha}">
                    <f:form.hidden
                        property="{element.identifier}"
                        id="{element.uniqueIdentifier}"
                        value=""
                        data="{recaptcha-form-field: ''}"
                        additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                        respectSubmittedDataValue="false"
                    />
                </f:if>
            </f:then>
            <f:else>
                <f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: element.renderingOptions.doNotShowLabel}" contentAs="elementContent">
                    <f:if condition="{showCaptcha}">
                        <f:then>
                            <f:form.hidden
                                property="{element.identifier}"
                                id="{element.uniqueIdentifier}"
                                value=""
                                data="{recaptcha-form-field: ''}"
                                additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                                respectSubmittedDataValue="false"
                            />
                            <div class="g-recaptcha"
                                 data-sitekey="{configuration.public_key}"
                                 data-callback="onRecaptchaCallback"
                                 data-expired-callback="onRecaptchaExpired"
                                 data-error-callback="onRecaptchaError"
                            ></div>
                        </f:then>
                        <f:else>
                            <div class="recaptcha-development-mode">
                                Development mode active. Do not expect the captcha to appear
                            </div>
                        </f:else>
                    </f:if>
                </f:render>
            </f:else>
        </f:if>
    </r:form.recaptcha>
</formvh:renderRenderable>
</html>
