<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:sf="http://typo3.org/ns/Evoweb/SfRegister/ViewHelpers"
      xmlns:r="http://typo3.org/ns/Evoweb/Recaptcha/ViewHelpers"
      data-namespace-typo3-fluid="true">

<r:form.recaptcha>
    <f:asset.script identifier="recaptcha_form" src="EXT:recaptcha/Resources/Public/JavaScript/Frontend/form.js"/>
    <f:asset.script identifier="recaptcha" async="true" src="{configuration.api_server}{f:if(condition: configuration.lang, then: '?hl={configuration.lang}')}"/>
    <f:variable name="hasCapchaError"><f:form.validationResults
        for="user.{fieldName}">{validationResults.flattenedErrors -> f:count()}</f:form.validationResults></f:variable>
    <f:if condition="!{settings.hasOriginalRequest}||{hasCapchaError}">
        <div class="col-md-6 mb-3 {fieldName} {options.cssClass}">
            <f:form.hidden
                property="{fieldName}"
                id="{fieldName}"
                value=""
                data="{recaptcha-form-field: ''}"
                respectSubmittedDataValue="false"
            />
            <div><sf:form.captcha type="recaptcha" /></div>
        </div>
    </f:if>
</r:form.recaptcha>
</html>
