<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
		xmlns:r="http://typo3.org/ns/Evoweb/Recaptcha/ViewHelpers"
		data-namespace-typo3-fluid="true">
<f:form.validationResults for="{element.identifier}">
	<div class="form-group{f:if(condition: '{validationResults.errors.0}', then: ' has-error')}">
		<f:if condition="{doNotShowLabel} != 1 && {element.renderingOptions.submitButtonLabel} == TRUE">
			<label class="control-label" for="{element.uniqueIdentifier}">{formvh:translateElementProperty(element: element, property: 'label')}<f:if condition="{element.required}"><f:render partial="Field/Required" /></f:if></label>
		</f:if>
		<f:debug>{_all}</f:debug>
		<div class="{element.properties.containerClassAttribute}">
			<f:format.raw>
				<r:form.recaptcha>
					<f:if condition="{showCaptcha}">
						<f:then>
							<input type="hidden" name="{name}" value="1"/>
							<div class="g-recaptcha" data-sitekey="|"></div>
						</f:then>
						<f:else>
							<div class="recaptcha-development-mode">
								Development mode active. Do not expect the captcha to appear
							</div>
						</f:else>
					</f:if>
				</r:form.recaptcha>
				<f:if condition="{validationResults.flattenedErrors}">
					<span class="error help-block" role="alert">
						<f:for each="{validationResults.errors}" as="error">
							{formvh:translateElementError(element: element, code: error.code, arguments: error.arguments, defaultValue: error.message)}
							<br />
						</f:for>
					</span>
				</f:if>
			</f:format.raw>
		</div>
	</div>
</f:form.validationResults>
</html>
