<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:r="http://typo3.org/ns/Evoweb/Recaptcha/ViewHelpers"
	  data-namespace-typo3-fluid="true">

	<r:form.recaptcha>
		<f:if condition="{showCaptcha}">
			<f:then>
				<f:form.button
					class="btn btn-primary {configuration.captchaCssClass}"
					data="{
						sitekey: '{configuration.public_key}',
						callback: configuration.invisibleCallback
					}"
				>###LLL:submit###</f:form.button>
			</f:then>
			<f:else>
				<f:form.button
					class="btn btn-primary"
				>###LLL:submit###</f:form.button>
				<div class="recaptcha-development-mode">
					Development mode active. Do not expect the captcha to appear
				</div>
			</f:else>
		</f:if>
	</r:form.recaptcha>

</html>
